GEO_DATA_DIR=./data
GEO_MAX_FILE_BYTES=10485760
GEO_MAX_REQUEST_BYTES=12582912
GEO_MAX_EXPANDED_BYTES=52428800
GEO_MAX_ZIP_MEMBERS=100
GEO_MAX_LAYERS=50
GEO_MAX_FEATURES=10000
GEO_MAX_COORDINATES=500000
GEO_MAX_FEATURE_COORDINATES=50000
GEO_MAX_EXTENT_KM=100
GEO_PROCESSING_SECONDS=60
